.render-lines-paragraph {
  display: flex;
  align-items: center;
  gap: 5px;
}

.render-lines-index {
  font-size: 10px;
  text-align: center;
  width: 20px;
}
.original .highlight {
  color: white;
  background-color: red;
}
.modified .highlight {
  color: white;
  background-color: green;
}
.render-lines-highlight-add {
  background-color: lightgreen;
}
.render-lines-highlight-delete {
  background-color: lightcoral;
}
