.render-lines-wrap {
  display: flex;
  gap: 20px;
}

.render-lines-paragraph {
  flex: 1;
  display: flex;
  align-items: top;
  gap: 5px;
}

.render-lines-index {
  font-size: 10px;
  text-align: center;
  width: 20px;
}
.original .highlight {
  background-color: rgb(255 175 184);
}
.modified .highlight {
  background-color: rgb(155 239 184);
}
.render-lines-highlight-add {
  width: 100%;
  background-color: rgb(224 255 235);
}
.render-lines-highlight-delete {
  width: 100%;
  background-color: rgb(255 235 238);
}
